@page "/aboutrazor.html"
@{
    Layout = "_Layout";
}
<h1>Giới thiệu về Razor</h1>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea aut iusto optio impedit aliquam similique nobis voluptate accusantium ipsum sed soluta neque quisquam nisi fugiat, maxime dolor perferendis id. Esst.
</p>